.button-now {
    -fx-background-color: #3F51B5;
    -fx-text-fill: WHITE;
}

.button-now:hover {
    -fx-background-color: rgb(77,102,204);
}

.button-now:pressed {
    -fx-background-color: lightseagreen;
}

.table-view .column-header-background .label {
    -fx-background-color: #3F51B5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-border-top: none !important;
}

.table-view .column-header {
    -fx-background-color:  #3F51B5
}